<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mybatis.dao.studentMapper" >
    <resultMap id="BaseResultMap" type="com.example.mybatis.model.student" >
        <id column="student_id" property="studentid" jdbcType="INTEGER" />
        <result column="student_name" property="studentname" jdbcType="VARCHAR" />

    </resultMap>
    <sql id="Base_Column_List" >
     student_id,student_name
  </sql>
    <select id="findAll" resultType="com.example.mybatis.model.student">
        SELECT * FROM school_student;
    </select>
    <insert id="insert" parameterType="com.example.mybatis.model.student">
insert into school_student(student_id,student_name) values(?,?)
    </insert>
</mapper>